---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>11ty Plugin Feather Icons - Demo</title>
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
    <style>
        body {
            background: #fafafa;
        }
        .page-wrapper {
            background: #fff;
            max-width: 900px;
            margin: 0 auto;
            padding: 30px;
            box-shadow: 0 5px 20px rgba(0,0,0,.15);
        }
        .feather {
            border-radius: 5px;
            padding: 30px;
            margin: 20px;
            box-shadow: 0 5px 20px rgba(0,0,0,.15);
        }
    </style>
</head>
<body>
    <div class="page page-wrapper">

        <div class="content-wrapper">
            <div class="content">
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <h1>Feather icons</h1>
                        <p>Feather is a collection of simply beautiful open source icons. Each icon is designed on a 24x24 grid with an emphasis on simplicity, consistency, and flexibility.</p>
                    </div>

                    <div class="pure-u-1-1">

                        {% feather "activity", { stroke: 'red', "stroke-width": 4 } %}
                        {% feather "airplay" %}
                        {% feather "alert-circle" %}
                        {% feather "alert-octagon" %}
                        {% feather "alert-triangle" %}
                        {% feather "align-center" %}
                        {% feather "align-justify" %}
                        {% feather "align-left" %}
                        {% feather "align-right" %}
                        {% feather "anchor" %}
                        {% feather "aperture" %}
                        {% feather "archive" %}
                        {% feather "arrow-down" %}
                        {% feather "arrow-down-circle" %}
                        {% feather "arrow-down-left" %}
                        {% feather "arrow-down-right" %}
                        {% feather "arrow-left" %}
                        {% feather "arrow-left-circle" %}
                        {% feather "arrow-right" %}
                        {% feather "arrow-right-circle" %}
                        {% feather "arrow-up" %}
                        {% feather "arrow-up-circle" %}
                        {% feather "arrow-up-left" %}
                        {% feather "arrow-up-right" %}
                        {% feather "at-sign" %}
                        {% feather "award" %}
                        {% feather "bar-chart" %}
                        {% feather "bar-chart-2" %}
                        {% feather "battery" %}
                        {% feather "battery-charging" %}
                        {% feather "bell" %}
                        {% feather "bell-off" %}
                        {% feather "bluetooth" %}
                        {% feather "bold" %}
                        {% feather "book" %}
                        {% feather "book-open" %}
                        {% feather "bookmark" %}
                        {% feather "box" %}
                        {% feather "briefcase" %}
                        {% feather "calendar" %}
                        {% feather "camera" %}
                        {% feather "camera-off" %}
                        {% feather "cast" %}
                        {% feather "check" %}
                        {% feather "check-circle" %}
                        {% feather "check-square" %}
                        {% feather "chevron-down" %}
                        {% feather "chevron-left" %}
                        {% feather "chevron-right" %}
                        {% feather "chevron-up" %}
                        {% feather "chevrons-down" %}
                        {% feather "chevrons-left" %}
                        {% feather "chevrons-right" %}
                        {% feather "chevrons-up" %}
                        {% feather "chrome" %}
                        {% feather "circle" %}
                        {% feather "clipboard" %}
                        {% feather "clock" %}
                        {% feather "cloud" %}
                        {% feather "cloud-drizzle" %}
                        {% feather "cloud-lightning" %}
                        {% feather "cloud-off" %}
                        {% feather "cloud-rain" %}
                        {% feather "cloud-snow" %}
                        {% feather "code" %}
                        {% feather "codepen" %}
                        {% feather "codesandbox" %}
                        {% feather "coffee" %}
                        {% feather "columns" %}
                        {% feather "command" %}
                        {% feather "compass" %}
                        {% feather "copy" %}
                        {% feather "corner-down-left" %}
                        {% feather "corner-down-right" %}
                        {% feather "corner-left-down" %}
                        {% feather "corner-left-up" %}
                        {% feather "corner-right-down" %}
                        {% feather "corner-right-up" %}
                        {% feather "corner-up-left" %}
                        {% feather "corner-up-right" %}
                        {% feather "cpu" %}
                        {% feather "credit-card" %}
                        {% feather "crop" %}
                        {% feather "crosshair" %}
                        {% feather "database" %}
                        {% feather "delete" %}
                        {% feather "disc" %}
                        {% feather "divide" %}
                        {% feather "divide-circle" %}
                        {% feather "divide-square" %}
                        {% feather "dollar-sign" %}
                        {% feather "download" %}
                        {% feather "download-cloud" %}
                        {% feather "dribbble" %}
                        {% feather "droplet" %}
                        {% feather "edit" %}
                        {% feather "edit-2" %}
                        {% feather "edit-3" %}
                        {% feather "external-link" %}
                        {% feather "eye" %}
                        {% feather "eye-off" %}
                        {% feather "facebook" %}
                        {% feather "fast-forward" %}
                        {% feather "feather" %}
                        {% feather "figma" %}
                        {% feather "file" %}
                        {% feather "file-minus" %}
                        {% feather "file-plus" %}
                        {% feather "file-text" %}
                        {% feather "film" %}
                        {% feather "filter" %}
                        {% feather "flag" %}
                        {% feather "folder" %}
                        {% feather "folder-minus" %}
                        {% feather "folder-plus" %}
                        {% feather "framer" %}
                        {% feather "frown" %}
                        {% feather "gift" %}
                        {% feather "git-branch" %}
                        {% feather "git-commit" %}
                        {% feather "git-merge" %}
                        {% feather "git-pull-request" %}
                        {% feather "github" %}
                        {% feather "gitlab" %}
                        {% feather "globe" %}
                        {% feather "grid" %}
                        {% feather "hard-drive" %}
                        {% feather "hash" %}
                        {% feather "headphones" %}
                        {% feather "heart" %}
                        {% feather "help-circle" %}
                        {% feather "hexagon" %}
                        {% feather "home" %}
                        {% feather "image" %}
                        {% feather "inbox" %}
                        {% feather "info" %}
                        {% feather "instagram" %}
                        {% feather "italic" %}
                        {% feather "key" %}
                        {% feather "layers" %}
                        {% feather "layout" %}
                        {% feather "life-buoy" %}
                        {% feather "link" %}
                        {% feather "link-2" %}
                        {% feather "linkedin" %}
                        {% feather "list" %}
                        {% feather "loader" %}
                        {% feather "lock" %}
                        {% feather "log-in" %}
                        {% feather "log-out" %}
                        {% feather "mail" %}
                        {% feather "map" %}
                        {% feather "map-pin" %}
                        {% feather "maximize" %}
                        {% feather "maximize-2" %}
                        {% feather "meh" %}
                        {% feather "menu" %}
                        {% feather "message-circle" %}
                        {% feather "message-square" %}
                        {% feather "mic" %}
                        {% feather "mic-off" %}
                        {% feather "minimize" %}
                        {% feather "minimize-2" %}
                        {% feather "minus" %}
                        {% feather "minus-circle" %}
                        {% feather "minus-square" %}
                        {% feather "monitor" %}
                        {% feather "moon" %}
                        {% feather "more-horizontal" %}
                        {% feather "more-vertical" %}
                        {% feather "mouse-pointer" %}
                        {% feather "move" %}
                        {% feather "music" %}
                        {% feather "navigation" %}
                        {% feather "navigation-2" %}
                        {% feather "octagon" %}
                        {% feather "package" %}
                        {% feather "paperclip" %}
                        {% feather "pause" %}
                        {% feather "pause-circle" %}
                        {% feather "pen-tool" %}
                        {% feather "percent" %}
                        {% feather "phone" %}
                        {% feather "phone-call" %}
                        {% feather "phone-forwarded" %}
                        {% feather "phone-incoming" %}
                        {% feather "phone-missed" %}
                        {% feather "phone-off" %}
                        {% feather "phone-outgoing" %}
                        {% feather "pie-chart" %}
                        {% feather "play" %}
                        {% feather "play-circle" %}
                        {% feather "plus" %}
                        {% feather "plus-circle" %}
                        {% feather "plus-square" %}
                        {% feather "pocket" %}
                        {% feather "power" %}
                        {% feather "printer" %}
                        {% feather "radio" %}
                        {% feather "refresh-ccw" %}
                        {% feather "refresh-cw" %}
                        {% feather "repeat" %}
                        {% feather "rewind" %}
                        {% feather "rotate-ccw" %}
                        {% feather "rotate-cw" %}
                        {% feather "rss" %}
                        {% feather "save" %}
                        {% feather "scissors" %}
                        {% feather "search" %}
                        {% feather "send" %}
                        {% feather "server" %}
                        {% feather "settings" %}
                        {% feather "share" %}
                        {% feather "share-2" %}
                        {% feather "shield" %}
                        {% feather "shield-off" %}
                        {% feather "shopping-bag" %}
                        {% feather "shopping-cart" %}
                        {% feather "shuffle" %}
                        {% feather "sidebar" %}
                        {% feather "skip-back" %}
                        {% feather "skip-forward" %}
                        {% feather "slack" %}
                        {% feather "slash" %}
                        {% feather "sliders" %}
                        {% feather "smartphone" %}
                        {% feather "smile" %}
                        {% feather "speaker" %}
                        {% feather "square" %}
                        {% feather "star" %}
                        {% feather "stop-circle" %}
                        {% feather "sun" %}
                        {% feather "sunrise" %}
                        {% feather "sunset" %}
                        {% feather "table" %}
                        {% feather "tablet" %}
                        {% feather "tag" %}
                        {% feather "target" %}
                        {% feather "terminal" %}
                        {% feather "thermometer" %}
                        {% feather "thumbs-down" %}
                        {% feather "thumbs-up" %}
                        {% feather "toggle-left" %}
                        {% feather "toggle-right" %}
                        {% feather "tool" %}
                        {% feather "trash" %}
                        {% feather "trash-2" %}
                        {% feather "trello" %}
                        {% feather "trending-down" %}
                        {% feather "trending-up" %}
                        {% feather "triangle" %}
                        {% feather "truck" %}
                        {% feather "tv" %}
                        {% feather "twitch" %}
                        {% feather "twitter" %}
                        {% feather "type" %}
                        {% feather "umbrella" %}
                        {% feather "underline" %}
                        {% feather "unlock" %}
                        {% feather "upload" %}
                        {% feather "upload-cloud" %}
                        {% feather "user" %}
                        {% feather "user-check" %}
                        {% feather "user-minus" %}
                        {% feather "user-plus" %}
                        {% feather "user-x" %}
                        {% feather "users" %}
                        {% feather "video" %}
                        {% feather "video-off" %}
                        {% feather "voicemail" %}
                        {% feather "volume" %}
                        {% feather "volume-1" %}
                        {% feather "volume-2" %}
                        {% feather "volume-x" %}
                        {% feather "watch" %}
                        {% feather "wifi" %}
                        {% feather "wifi-off" %}
                        {% feather "wind" %}
                        {% feather "x" %}
                        {% feather "x-circle" %}
                        {% feather "x-octagon" %}
                        {% feather "x-square" %}
                        {% feather "youtube" %}
                        {% feather "zap" %}
                        {% feather "zap-off" %}
                        {% feather "zoom-in" %}
                        {% feather "zoom-out" %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>